[
	{% for x in events %}
	{
		{% if x.tool %}
			"title": "{{ x.user }}{{ x.reservation_item.name }}{% if x.title %}, titled \"{{ x.title }}\"{% endif %}",
			"color": "#FA8072",
		{% elif x.area %}
			"title": "{{ x.user }}{{ x.reservation_item.name}}{% if x.title %}, titled \"{{ x.title }}\"{% endif %}",
			"color": "#E9967A",
		{% else %}
			"title": "{{ x.user }}{% if x.title %}, titled \"{{ x.title }}\"{% endif %}",
			"color": "#FFA07A",
		{% endif %}
		{% if x.creator.id == x.user.id %}
			"tooltip": "{{ x.reservation_item.name }} reservation for {{ x.user }}",
		{% else %}
			"tooltip": "{{ x.reservation_item.name }} reservation for {{ x.user }}, created by {{ x.creator }}",
		{% endif %}
		"id": "Reservation {{ x.id }}",
		{# The reservation creator or staff may edit the event: #}
		"editable": true,
		"start": "{{ x.start|date:"c" }}",
		"end": "{{ x.get_visual_end|date:"c" }}",
		"details_url": "{% url 'reservation_details' x.id %}"
	}{% if not forloop.last %},{% endif %}
	{% endfor %}
]